{% extends 'base.html' %}

{% block title%}
    我的网站
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div  class="row">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in page_of_blogs.object_list %}
                            <div class="blog">
                                <a href="{% url 'blog_detail' blog.pk %}"><h3>{{ blog.title }}</h3></a>
                            <p class="blog-info">
                                分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type.type_name }}</a>
                                发表日期: {{ blog.create_time|date:'Y-m-d' }}
                                阅读次数: {{ blog.get_read_number }}
                            </p>
                            </div>
                        <p>{{ blog.content|striptags|truncatechars:30 }}</p>
                    {% empty %}
                        <div class="blog">
                            <p>暂无博客，敬请期待</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="paginator" style="text-align: center">
                     <ul class="paginator list-inline">
                            <li>
                                {% if page_of_blogs.has_previous %}
                                    <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}
                            </li>
                            {% for number in page_list %}
                                {% if number == page_of_blogs.number %}
                                    <li class="active"><span>{{ number }}</span></li>
                                {% else %}
                                    {% if number ==  '...' %}
                                        <li><span>...</span></li>
                                    {% else %}
                                        <li><a href="?page={{ number }}">{{ number }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <li>
                                {% if page_of_blogs.has_next %}
                                    <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}
                            </li>
                        </ul>
                        <p>
                            共有{{ page_of_blogs.paginator.count}}篇文章,
                            当前第{{ page_of_blogs.number}}页,
                            共有{{ p.num_pages }}页.
                        </p>
                </div>
            </div>
            <div class="hidden-xs col-sm-2 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blog_with_type' blog_type.pk %}">{{ blog_type.type_name }}&nbsp;({{ blog_type.blog_count }})</a>
                                </li>
                            {% empty %}
                                <li></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期分类</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date,blog_count in blogs_date.items %}
                                <li>
                                    <a href="{% url 'blog_with_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:'Y-m' }}&nbsp;({{ blog_count }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}