{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}
    {{ blog.title }}
{% endblock %}
{% block nav_blog_active %}
    active
{% endblock %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-lg-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="list-inline">
                    <li>作者: {{ blog.author }}</li>
                    <li>发表日期: {{ blog.create_time|date:"Y-m-d H:n:s" }}</li>
                    <li>分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>阅读次数: {{ blog.get_read_number }}</li>
                </ul>
                <p>{{ blog.content|safe }}</p>
                <div class="blog-more">
                    {% if previous_blog %}
                        <a href="{% url 'blog_detail' previous_blog.pk %}"><p>上一篇: {{ previous_blog.title }}</p></a>
                    {% else %}
                        <p>没有了</p>
                    {% endif %}
                    {% if next_blog %}
                        <a href="{% url 'blog_detail' next_blog.pk %}"><p>下一篇: {{ next_blog.title }}</p></a>
                    {% else %}
                        <p>没有了</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}